@import 'nib'
@import 'jeet'
@import '020_colorsTheme/*.import'

.main-container footer section article:nth-child(2)
  section
    margin 0
    padding 0
    width 100%
    ul
      inline-list 3%
      width 100%
      li
        size 17%
        a img
          size 100%
