section
  h1 Grand partenaire
  ul
    li
      a(href='http://www.gipsa.fr/', target='_blank')
        img(src='partners/gipsa.png', width='300', height='300', alt='GIPSA')
section
  h1 Partenaires d'Or
  ul
    li
      a(href='http://www.royalcanin.fr/', target='_blank')
        img(src='partners/royal_canin.png', width='300', height='300', alt='Royal Canin')
    li
      a(href='http://www.incineris.fr/', target='_blank')
        img(src='partners/compagnie_des_veterinaires.png', width='300', height='300', alt='La compagnie des vétérinaires')
    li
      a(href='http://www.santevet.com/', target='_blank')
        img(src='partners/santevet.png', width='300', height='300', alt='SantéVet')
section
  h1 Partenaires d'Argent
  ul
    li
      a(href='http://fr.merial.com/Pages/default.aspx', target='_blank')
        img(src='partners/merial.png', width='300', height='300', alt='Merial')
section
  h1 Nos Partenaires
  ul
    li
      a(href='http://www.wamine.fr/', target='_blank')
        img(src='partners/wamine.png', width='300', height='300', alt='Wamine')
