@import 'nib'
@import '/client/styles/global-var.import'

@import '.meteor/local/build/programs/web.browser/packages/orionjs_quill/styles/quill'

quill(bgColor, textColor, brandInfo, outlineColor, roundCorner)
