@import 'nib'
@import '/client/styles/global-var.import'
@import '.meteor/local/build/programs/web.browser/packages/orionjs_quill/styles/quill'

quill(red, green, blue, 10px)

.quill
  width 100%
  background bgColor
  border none
  border-radius borderRadius
  .quill-toolbar
    display inline
    margin 0
    padding 0
    display flex
    flex-direction row
    align-items center
    align-content center
    background inherit
    border-radius borderRadius
    .quill-select-wrapper
      position relative
      border 1px solid darken(bgColor, 20%)
      border-radius borderRadius
      background bgColor
      padding .2em .5em 0 .5em
      >select
        display inline
        color textColor
        margin 0 -1.5em
        padding 0 1.5em
        border none
        width 8em
        overflow hidden
        background transparent
        font-weight bold
        box-shadow none
        appearance none
        option
          border none
          font-weight normal
      &:before, &:after
        pointer-events none
        font-family fontawesome
        size 1em
        font-family fontawesome
        font-size 1.1em
        line-height @width
        padding-top 1.5em
        color textColor
      &:before
        margin-right .5em
      &:after
        content '\f0dc'
      &.ql-active
        &:before
          color brandInfo
      &.ql-size
        &:before
          content '\f034'
      &.ql-font
        &:before
          content '\f031'
      &.ql-background:before
        content '\f1fc'
      &.ql-color:before
        content '\f043'
      &.ql-alignment
        &:before
          content '\f036'
    button, .ql-picker
      size 2em
      margin 0
      padding 0
      background inherit
      border none
      color transparent
      display inline-flex
      justify-content center
      align-items center
      &:before
        pointer-events none
        display block
        size 1em
        font-family fontawesome
        font-size 1.1em
        line-height @width
        color textColor
      &.ql-active
        &:before
          color brandInfo
      &.ql-bold:before
        content '\f032'
      &.ql-italic:before
        content '\f033'
      &.ql-strike:before
        content '\f0cc'
      &.ql-underline:before
        content '\f0cd'
      &.ql-link:before
        content '\f0c1'
      &.ql-image:before
        content '\f03e'
      &.ql-list:before
        content '\f0ca'
      &.ql-bullet:before
        content '\f0cb'
  *:focus
    outline none
  *::-moz-focus-inner
    border 0
  .quill-editor
    background white
    color black
    border 1px solid darken(bgColor, 20%)
    border-radius borderRadius
