@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/views/admin/*.import'
@import s(basePath, input)
@import s(basePath, buttonInspiration)

.admin
  typographic()
  fontSize()
  size 100%
  absolute top left
  background bgColor

  ::selection
    color black
    background yellow
  h1, h2, h3, h4, h5, h6, p, a, a:visited, label
    color textColor
    font-family $helvetica
  h1, h2, h3
    font-weight 100
  >h1
    text-align center
  .at-form
    border 1px solid outlineColor
    background fillBg
    center(maxSize)
    border-radius roundCorner
    margin 1em
    padding 1em
    h3
      margin-top 0
      text-align center
  .at-error p
    text-align center
    font-size 2em
    color brandDanger
    margin .5em 0
  .at-input
    margin .5em 0
    input
      margin-bottom .2em
    cpInput(bgColor, textColor, brandColor)
    cpInputJiro(textColor, brandColor)
  form
    center(400px)
    cpButtonInspiration(brandColor)
    cpButtonInspirationWinoma(bgColor, brandColor)
    button
      margin-top 2em
