@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/views/admin/*.import'

.admin
  main
    article
      padding 1em
      overflow-x hidden
      overflow-y auto
      table
        table()
