@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/views/admin/*.import'

.admin
  header
    background bgColor
    size 100% 8.05em
    h1
      margin 0
      size 100% 100%
      background lighten(bgColor, 5%)
