@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/views/admin/*.import'

@import s(basePath, animate)

.admin
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content flex-start
  align-items strech
  justify-content strech
  background: radial-gradient(ellipse at bottom left, rgba(93, 104, 107, 0.4) 10%, rgba(112, 95, 74, 0) 40%), linear-gradient(to bottom, rgba(41, 128, 155, 0.25), rgba(24, 35, 50, 0.4)), linear-gradient(135deg, #450407, #092756)
  aside
    flex-grow 0
    flex-shrink 0
    width 10em
    //border-right 1px solid outlineColor
    animation fadeInLeft longAnimationValue
    background bgColor
  main
    flex-grow 1
    flex-shrink 1
    display block
    relative top left
    size 100%
    overflow hidden
    animation fadeInRight longAnimationValue
    header
      background bgColor
      size 100% 8.05em
      relative top left
    article
      relative top left
      width calc(100% - 2em)
      height calc(100% - 10.05em)
      display block
      margin 1em
      padding 1em
      overflow-x hidden
      overflow-y scroll
      background outlineColor
      border-radius roundCorner
      animation fadeIn defaultTransitionValue
