@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/styles/*.import'
@import s(basePath, input)

.admin
  fontSize()
    font-size 11px
    +above('small')
      font-size @font-size + 1
    +above('medium')
      font-size @font-size + 2
    +above('desktop')
      font-size @font-size + 3
    +above('hd')
      font-size @font-size + 4
  typographic()
  bgColor = lighten(black, 5%)
  textColor = darken(white, 5%)
  brandColor = darken(white, 10%)
  brandDanger = red
  roundCorner = 3px
  outlineColor = rgba(textColor, 30%)
  fillBg = rgba(textColor, 5%)
  size 100%
  absolute top left
  background bgColor
  t-headers($helvetica)
  ::selection
    color white
    background yellow
  h1, h2, h3, h4, h5, h6, p, a, a:visited, label
    color textColor
  >h1
    text-align center
  .at-form
    border 1px solid outlineColor
    background fillBg
    center(maxSize)
    border-radius roundCorner
    padding 1em
    h3
      margin-top 0
      text-align center
  .at-error
    color brandDanger
  .at-input
    cpInput(bgColor, textColor, brandColor)
    cpInputJiro(textColor, brandColor)
