@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'
@import s(basePath, input)

// body
//   >div:not(.main-container)
//     background white
//     >div
//       center(maxSize)
//       .alert-danger
//         color brandDanger
//       h1
//         text-align center
//       h3
//         font-size 2em
//       form
//         border-radius roundCorner
//   input
//     border 1px solid textColor
//     border-radius roundCorner
//     width 100%
//     max-width 30em
//   button
//     border 1px solid textColor
//     border-radius roundCorner
//     background rgba(blackBg, 30%)
