// subscribersIndex
+Layout template='orionCpTitle'
  | {{ collection.title }}
  if collection.canShowCreate
    a(href="{{ collection.createPath }}"): i.fa.fa-plus
+Layout template='orionCpContentContainer'
  if collection.canIndex
    if showTable
      +tabular table=collection.tabularTable class='table index-table'
    button.import-csv Exporter en CSV
    button.import-sage Exporter vers SAGE
