nav(data-bind='class: {white: white}, style: {opacity: opacity}'): .nav
  .logo: .svg-logo-container(data-bind='click: goHome')
    +asvlasoireeBigLogo
  button.hamburger-button(data-bind='class: {open: menuContentOpened}, click: hamburger')
    span
  ul(data-bind='class: {open: menuContentOpened}')
    each links
      li(class=activeRoute): a(href=slug, data-bind='click: changeRoute')= name
