@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'
@import s(basePath, links)

.main-container
  >nav
    opacity 0
    fixed top left
    background rgba(textColor, 95%)
    transition opacity defaultTransitionValue, background-color defaultTransitionValue
    z-index 1000
    width 100%
    display flex
    justify-content center
    pointer-events none
    transform translateZ(0)
    >.nav
      flex-grow 0
      flex-shrink 0
      width 100%
      max-width maxSize
      display flex
      >.logo
        flex-grow 0
        flex-shrink 0
        display inline-block
        relative top .7em left
        size 11em 4em
        cursor pointer
        pointer-events auto
        >.svg-logo-container
          asvlasoireeBigLogo(100%)
      >ul
        flex-grow 1
        flex-shrink 0
        display flex
        flex-wrap no-wrap
        align-content flex-end
        justify-content flex-end
        inline-list()
        >li
          margin 1em
          font-size 1.3em
          font-family BaronNeue
          cpLinks(brandColor)
          pointer-events auto
          >a
            transition color defaultTransitionValue
            color bgColor
        >li.active
          pointer-events none
          >a
            color brandColor
    &.white
      background rgba(bgColor, 95%)
      >.nav >ul >li
        >a
          color textColor
