baseSvgLogo()
  display inline-block
  position relative
  vertical-align middle

asvlasoireeSmallLogo(svgWidth)
  logoWidth = 260
  logoHeight = 254.73
  baseSvgLogo()
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)

asvlasoireeBigLogo(svgWidth)
  logoWidth = 400
  logoHeight = 147.77
  baseSvgLogo()
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)

arrowDownLogo(svgWidth)
  logoWidth = 260.0
  logoHeight = 260.0
  baseSvgLogo()
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)

braintreeLogo(svgWidth)
  logoWidth = 113.16
  logoHeight = 38.07
  baseSvgLogo()
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)
