@import 'nib'
@import 'jeet'
@import 'both/styles/*.import'

// ASV big logo with 2 states, default is for black background,
//  second is white background.
svg.svg-content.asv-logo
  .circle
    transition stroke defaultTransitionValue
    stroke white
  .year
    transition fill defaultTransitionValue
    fill white
nav.white
  .logo .svg-logo-container svg.svg-content.asv-logo
    .circle
      stroke brandColor
    .year
      fill black

// Small arrow with 2 states, a pink one and a white one.
svg.svg-content.arrow-down
  .shape
    fill brandColor
  &.white
    .shape
      fill white
