@import 'nib'
@import 'jeet'
@import '020_colorsTheme/*.import'
@import s(basePath, input)

.main-container .router-container main
  section.contact
    padding-bottom 0
    article.form
      relative top left
      // Cookie and contact masks
      .cookieMask, .alreadyContacted
        absolute top left
        size 100%
        background rgba(blackBg, .8)
        z-index 2500
        p
          absolute top 50% left
          center(960px)
          width 100%
          transform translate3d(0, -50%, 0)
          font-size 2em
          font-weight bold
          font-family BaronNeue
          color bgColor
          text-align center
      .alreadyContacted
        animation fadeIn defaultTransitionValue
      p.error
        background bgColor
        margin -2em 0 0 0
      form
        margin 3em 0 0 0
        padding 0
        width 100%
        fieldset
          margin 0
          padding 0
          border none
          width 100%
          cpInput(bgColor, brandColor, brandColor)
          >span.input
            width 100%
            max-width 100%
            font-size 12px
            margin-top @font-size
            margin-bottom 4*@font-size
            line-height 1.2*@font-size
            ::selection
              color bgColor
              background brandColor
            >input
              absolute top left
              width 100%
              padding .8*@font-size
              border-radius roundCorner
              font-size @font-size
              transition opacity defaultTransitionValue
            >label
              width 100%
              pointer-events none
              padding 0 @font-size
              transition opacity defaultTransitionValue
              >span
                width 100%
                pointer-events none
                padding 0
                absolute top (0.8*@font-size) left @font-size
                color brandColor
                transition transform defaultTransitionValue, color defaultTransitionValue
            >input:focus, >input.filled
              + label
                span
                  transform translate3d(-@font-size, (-2.3*@font-size), 0)
                  color bgColor
            >input:disabled
              pointer-events none
              opacity .5
              + label
                opacity .5
          textarea
            width 100%
            margin-top 1em
            font-size 12px
            line-height 1.2*@font-size
            border none
            border-radius roundCorner
            background-color bgColor
            color brandColor
            font-weight bold
            &::-webkit-input-placeholder
              font-weight bold
              color @color
            &::-moz-placeholder
              font-weight bold
              color @color
            &:-ms-input-placeholder
              font-weight bold
              color @color
            ::selection
              color bgColor
              background brandColor
          &.info-submit
            padding .8em 0 .5em .5em .5em
            // Access
            >div:nth-child(1)
              border 2px solid brandColor
              border-radius roundCorner
              background bgColor
              color invertedTextColor
              margin-top .7em
              padding 1em 2em
              border 3px solid brandColor
              border-radius roundCorner
              h2, address, p
                color brandColor
                margin 0
                padding 0
              h2, address
                text-align center
                font-size 1.2em
              address
                margin-bottom .8em
                address:nth-child(2)
                  font-weight normal
              p
                font-size 1em
            // Send button
            >.submit
              button
                background transparent
                border none
                color bgColor
                font-weight bold
                text-transform uppercase
                margin 0 0 1em 0
                padding 1.5em 1em 0 0
                border-bottom 2px solid transparent
                transition border-color defaultTransitionValue, opacity defaultTransitionValue
                &::after
                  content '>>'
                  relative top left .8em
                &:hover
                  border-bottom 2px solid bgColor
                &:disabled
                  opacity .5
                  pointer-events none
                  font-style italic
                  font-weight lighter
  // Picture of La Plateforme
  section.access-location-picture
    display block
    relative top left
    size 100% 114px
    background url('img/la-plateforme-small.jpg') blackBg no-repeat center
    background-size cover
    +above('medium')
      height 286px
      background url('img/la-plateforme-medium.jpg') blackBg no-repeat center
      background-size cover
    +above('desktop')
      height 332px
      background url('img/la-plateforme.jpg') blackBg no-repeat center
      background-size cover

// Avoid buggy flexbox and min-width on Safari by using a media query
@media only screen and (min-width 576px)
  section.contact
    article.form
      form#contact-form
        display flex
        flex-wrap nowrap
        justify-content space-between
        fieldset.contact
          width 49%
          margin-right 1em
        fieldset.info-submit
          width 49%
