section.contact
  article
    a(href='#contact'): h1 Contact
    .cookieMask(data-bind='unless: isCookieAccepted')
      p Contact impossible, veuillez accepter les cookies.
    p.error Les informations de contact nécessaires ne sont pas correctes.
    form#contact-form
      fieldset
        span.input
          input#name(type='text', name='name')
          label(for='name'): span Nom
        span.input
          input#email(type='email', name='email')
          label(for='email'): span E-mail
        textarea(name='request',  form='contact-form') Votre demande
    .submit
      button(type='submit') Envoyez      
    div
      div
        h2 Accès
        p Informations indisponibles.
      div
        h2 Ouverture des inscriptions le 1er juillet 2015
      .access-location-picture
        
