//- if $.Session.get 'IS_MOBILE'
//-   .picture
//- else
//-   video(preload, loop)
//-     source(src='/videos/lyon-festival-light.mp4', async, type='video/mp4')
header
  section
    .center-all
      .logo-resizer
        .svg-logo-container
          +asvlasoireeBigLogo
      .teaser(data-bind='style: {opacity: teaserOpacity}')
        .teaser-content
          time Vendredi 27 Novembre 2015 - Lyon
          h1 La soirée du congrès <em>ASV</em>
          .links
            a(href='#subscription', data-bind='click: goInnerLink') Pré-inscription
            a(href='#program', data-bind='click: goInnerLink') Programme
        .flip-container
          +countdown
    .arrow-down-container
      .arrow-down-centered(data-bind='style: {opacity: arrowOpacity}')
        .svg-logo-container
          +arrowDownLogo
main(data-role='home')
  section.program
    +presentation
    +program
  +subscription
  +contact
  +map
