@import 'nib'
@import 'jeet'
@import '020_colorsTheme/*.import'

.main-container
  section.map
    background bgColor
    .map-container
      pointer-events none
      cursor default
      width 100%
      max-width 100%
      height 400px
