article
  a(href='#program'): h1 Présentation
  p.center: mark ASV - LA SOIRÉE
  p.center: small La première soirée nationale entièrement dédiée à la profession<br>des auxiliaires vétérinaires
  p.center: time(datetime='2015-11-27') Vendredi 27 novembre 2015
  p.center à partir de 19h à La Plateforme (Lyon)
  p Cette première édition de l’évènement ASV LA SOIRÉE est organisée par APFORM, l’AFVAC et l’ASSAV. Elle a pour but d’offrir aux auxiliaires vétérinaires, une manifestation professionnelle et conviviale fédérant et valorisant les auxiliaires autour de leur métier notamment à travers une animation majeure : <strong>la Cérémonie Nationale des ASV GIPSA (seul titre reconnu par la branche vétérinaire)</strong>.
  p Dans le cadre du 1er Congrès ASV se déroulant du 27 au 28 Novembre 2015 à Lyon, ce rendez-vous est l’occasion de valoriser les auxiliaires en mettant à l’honneur les ASV GIPSA diplômé des promotions 2014-2015.
