@import 'nib'
@import 'jeet'
@import 'typographic'
@import '020_colorsTheme/*.import'

.main-container
  .router-container
    main[data-role='home']
      section:first-child
        article:nth-child(1)
          margin-left 0
          margin-right .5em
          padding-left 0
