@import 'nib'
@import 'jeet'
@import 'typographic'
@import '020_colorsTheme/*.import'

.main-container
  .router-container
    main[data-role='home']
      section:first-child
        article:nth-child(1)
          margin-left 0
          margin-right .5em
          padding-left 0
          h1
            margin 0 0 1em 0
          p:nth-of-type(1)
            padding 0
            margin 0
          p:nth-of-type(2), p:nth-of-type(2) small
            margin 0 0 2em 0
            padding 0
            line-height 1em
          p:nth-of-type(2) small
            font-size .9em
          p:nth-of-type(3), p:nth-of-type(4)
            margin 0
            padding 0
            font-size 1.3em
            font-weight bold
            line-height 1.2em
          p:nth-of-type(4)
            margin-bottom 3em
