article
  div
    h1 Programme
    ul
      li
        time 19H
        h2 Accueil invités
      li
        time 20H
        h2 Discours institutionnel
        p APFORM // GIPSA // AFVAC // ASSAV // SNVEL // Grand partenaire ASV Le congrès
      li
        time 20H30
        h2 Cérémonie Nationale des ASV GIPSA
      li
        time 21h30
        h2 Buffet & soirée dansante
        p Dj, photomaton libre, remise de cadeaux, jeux-concours, ...
      li
        time 01H00
        h2 Fermeture
  div
    h2 Fermeture et annonce d’ASV LA SOIRÉE 2016
  div
    .arrow-down-centered
      .svg-logo-container
        +arrowDownLogo mainColor='white'
