@import 'nib'
@import 'jeet'
@import 'typographic'
@import '020_colorsTheme/*.import'
@import s(basePath, animate)
@import s(basePath, input)

.main-container
  .router-container
    // Base class for radio button
    span.choice
      display inline-block
      input
        transform translateX(-10000px)
      label
        cursor pointer
        display block
        position relative
        transition background-color defaultTransitionValue
        &::before, &::after
          content ''
          display block
          transition background-color defaultTransitionValue
        &::before
          size 14px
          border-radius 7px
          background brandColor
          absolute bottom left
        &::after
          size 6px
          border-radius 5px
          background brandColor
          absolute bottom 4px left 4px
    input:checked + label::after
      background bgColor
    section.subscription
      article.header
        width 100%
        h1, h2, p
          text-align center
        h2
          text-transform uppercase
          color brandColor
          font-size 1.2em
          margin-bottom 0
        p:not(.error)
          margin-top 0
          text-transform uppercase
          font-size 0.9em
          font-weight bold
      article.form
        form
          display flex
          flex-wrap wrap
          flex-justify space-between
          margin 0
          padding 0
          >fieldset, .group-contact-submit
            flex-grow 0
            flex-shrink 0
            margin 0
            padding 0 .5em
            width 50%
          >fieldset, .group-contact-submit fieldset
            border none
            .input-profil
              span.choice
                width 120px
                text-align center
                label
                  margin 0 20px
                  font-size 8px
                  line-height @font-size
                  size 80px
                  border 2px solid brandColor
                  color brandColor
                  border-radius 40px
                  text-transform uppercase
                  transition background-color defaultTransitionValue
                  &::before, &::after
                    content ''
                    display block
                    transition background-color defaultTransitionValue
                  &::before
                    absolute bottom -22px left 31px
                  &::after
                    absolute bottom -18px left 35px
                &:nth-child(1) label
                  padding-top 26px
                &:nth-child(2) label
                  padding-top 30px
                &:nth-child(3) label
                  padding-top 34px
              input:checked + label
                background lighten(brandColor, 80%)
            .input-contact
              cpInput(bgColor, textColor, brandColor)
              cpInputJiro(textColor, brandColor)
            legend
              margin-left 0
              padding-left 0
              font-weight 300
          .group-contact-submit
            span.choice
              background yellow
              width 100%
              label
                margin 0
                padding 0
                line-height 1em
                relative bottom 16px left 24px
                &::before
                  absolute bottom 0 left -18px
                &::after
                  absolute bottom 4px left -14px
              &:nth-child(3)
                background darkblue
                width 30%
            button
              margin 2em auto 0 auto
              text-transform uppercase
              line-height 2.8em
              border 2px solid brandColor
              background bgColor
              border-radius (roundCorner/2)
              transition color defaultTransitionValue,transform defaultTransitionValue,border-color defaultTransitionValue
              color brandColor
              &:hover
                transform scale3d(1.01, 1.01, 1)
                border-color darken(brandColor, 10%)
                color darken(brandColor, 10%)
