@import 'nib'
@import 'jeet'
@import 'typographic'
@import '020_colorsTheme/*.import'
@import s(basePath, animate)
@import s(basePath, input)

.main-container
  .router-container
    section.subscription
      article.header
        width 100%
        h1, h2, p
          text-align center
        h2
          text-transform uppercase
          color brandColor
          font-size 1.2em
          margin-bottom 0
        p:not(.error)
          margin-top 0
          text-transform uppercase
          font-size 0.9em
          font-weight bold
      article.form
        form
          display flex
          flex-wrap wrap
          flex-justify space-between
          margin 0
          padding 0
          >fieldset, .group-contact-submit
            flex-grow 0
            flex-shrink 0
            margin 0
            padding 0 .5em
            width 50%
          >fieldset, .group-contact-submit fieldset
            border none
            .input-profil
              display flex
              flex-wrap wrap
              flex-justify space-between
              span.choice
                flex-grow 0
                flex-shrink 0
                display block
                width 33%
                text-align center
                label
                  display block
                  size 8em
                  border 2px solid brandColor
                  color brandColor
                  border-radius 50%
                  text-transform uppercase
            .input-contact
              cpInput(bgColor, textColor, brandColor)
              cpInputJiro(textColor, brandColor)
            legend
              margin-left 0
              padding-left 0
              font-weight 300
          .group-contact-submit
            button
              margin 2em auto 0 auto
              text-transform uppercase
              line-height 2.8em
              border 2px solid brandColor
              background bgColor
              border-radius (roundCorner/2)
              transition color defaultTransitionValue,background-color defaultTransitionValue,transform defaultTransitionValue,border-color defaultTransitionValue, font-weight defaultTransitionValue
              color brandColor
              &:hover
                transform scale3d(1.05, 1.05, 1)
                border-color darken(brandColor, 10%)
                background rgba(black, 5%)
                font-weight bold
                color darken(brandColor, 10%)
