@import 'nib'
@import 'typographic'
@import 'client/styles/*.import'

.debug
  margin 0
  padding 0
  border 0
  fixed top left
  size 15em auto
  font-size 10px
  line-height @font-size
  font-family $monotype
  z-index 1000
  transform translateZ(1000px)
  background red
  color white
