@import 'nib'
@import 'typographic'
@import 'client/styles/*.import'

.debug
  fixed top right
  size 10em 2em
  font-size 12px
  font-family $monotype
  z-index 1000
  transform translateZ(1000px)
  background red
  color white
