+Layout template="orionCpSmallContentOffset"
  +Layout template="orionCpTitle"
    | Delete page
  +Layout template="orionCpContentContainer"
    p Are you sure you want to delete this page?
    a.btn.btn-default.cancel-delete(href="{{ pathFor 'pages.update' }}") Cancel
    a.btn.btn-danger.confirm-delete Confirm
