@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'

.main-container
  footer
    flex-grow 0
    flex-shrink 0
    width 100%
    background bgColor
    //background red
    color textColor
    section
      center(maxSize)
