footer
  section
    article
      h1 Comité d'organisation
      a(href='http://apform.fr/', target='_blank')
        .svg-logo-container
          +apformLogo
    article
      h1 Partenaires
      p A définir
