@import 'nib'
@import '020_colorsTheme/*.import'

.loading
  fixed top left
  display block
  size 100%
  .sk-spinner.sk-spinner-wave
    size 50px
    position absolute
    top (calc(50% - 25px))
    left (calc(50% - 25px))
    div
      background-color brandColor
