picture
  source(srcset='/img/{{name}}.webp', media='(min-width: 1280px)', type='image/webp')
  source(srcset='/img/{{name}}-medium.webp', media='(min-width: 800px) and (max-width: 1280px)', type='image/webp')
  source(srcset='/img/{{name}}-small.webp', media='(max-width: 800px)', type='image/webp')
  source(srcset='/img/{{name}}.jpg', media='(min-width: 1280px)')
  source(srcset='/img/{{name}}-medium.jpg', media='(min-width: 800px) and (max-width: 1280px)')
  source(srcset='/img/{{name}}-small.jpg', media='(max-width: 800px')
  img(src='/img/{{name}}.jpg', async, alt='{{title}}')
