section
  article
    h1 Comité d'organisation
    a(href='http://apform.fr/', target='_blank')
      .svg-logo-container
        +apformLogo
    a(href='http://www.gipsa.fr/', target='_blank')
      .svg-logo-container
        +gipsaLogo
  article
    h1 Partenaires
    a(href='http://www.snvel.fr/', target='_blank')
      .svg-logo-container
        +snvelLogo
    p A définir
  article
    aside
      | ©
      a(href='http://apform.fr/', target='_blank') APForm
      | - 2015 -
      a.internal(href='/cgu') Mentions légales
      | -
      a.internal(href='/cookie') Gestion des cookies
