template(name='footer')
  section
    article
      h1 Comité d'organisation
      ul
        li
          a(href='http://apform.fr/', target='_blank')
            img(src='partners/apform.png', width='300', height='300', alt='APForm')
        li
          a(href='http://www.afvac.com/', target='_blank')
            img(src='partners/afvac.png', width='300', height='300', alt='AFVAC')
        li
          a(href='https://www.facebook.com/AssAV.association.auxilaires.veterinaires', target='_blank')
            img(src='partners/assav.png', width='300', height='300', alt='AssAV')
    article
      +partners
    article
      +socials youtube=true
    article
      aside
        if Template.subscriptionsReady
          each links
            +footerItem
            |  - 
        span.nobp
          a(href='http://apform.fr/', target='_blank') APForm
          | © 2015

template(name='footerItem')
  a.internal(data-bind='value: slug, attr: { href: slug }, click: changeRoute, text: name')
