@import 'nib'
@import 'jeet'
@import '020_colorsTheme/*.import'
@import s(basePath, links)

.main-container
  footer
    width 100%
    background bgColor
    //background red
    color textColor
    // Create a new context for overlapping video
    z-index 1
    transform translateZ(0)
    h1
      width 100%
      color brandColor
      font-family BaronNeue
      font-size .9rem
    a, a:visited
      outline none
    section
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content flex-start
      align-items stretch
      align-content stretch
      width 100%
      max-width maxSize
      margin 1em auto
      article
        flex-grow 1
        flex-shrink 0
        display inline-block
        height 100%
        box-sizing content-box
        display flex
        flex-direction row
        flex-wrap wrap
        a, a:visited
          display block
          flex-grow 0
          flex-shrink 0
      // Steering comittee
      article:nth-child(1)
        width 30%
        flex-basis @width
        padding-right 3%
        border-right 1px solid brandColor
        // APform
        a:nth-of-type(1)
          width 35%
          margin 4% 6% 0 0
          >.svg-logo-container
            apformLogo(100%)
        // AFVAC
        a:nth-of-type(2)
          width 27%
          margin 2% 3% 0 0
          >.svg-logo-container
            afvacLogo(100%)
        // ASSAV
        a:nth-of-type(3)
          width 28%
          margin 4% 0 0 0
          >.svg-logo-container
            assavLogo(100%)
      // Partners
      article:nth-child(2)
        width 59%
        padding-left 3%
        flex-basis @width
        a, a:visited, p
          margin-right 1em
        // GIPSA
        a:nth-of-type(1)
          width 11%
          margin 0 5% 0 0
          .svg-logo-container
            gipsaLogo(100%)
        a:nth-of-type(2)
          margin 1% 5% 0 0
          width 17%
          .svg-logo-container:nth-child(1)
            snvelLogo(100%)
      // Social sharing buttons
      article:nth-child(3)
        width 100%
        ul
          inline-list()
          
      // Other links
      article:nth-child(4)
        width 100%
        margin-top 1em
        border-top 1px solid brandColor
        padding-top .8em
        text-align center
        aside
          margin 0
          padding 0
          width 100%
          display block
          cpLinks(brandColor)
        a, a:visited
          color textColor
          font-size 80%
