template(name='footer')
  section
    article
      h1 Comité d'organisation
      a(href='http://apform.fr/', target='_blank')
        .svg-logo-container
          +apformLogo
      a(href='http://www.afvac.com/', target='_blank')
        .svg-logo-container
          +afvacLogo
      a(href='https://www.facebook.com/AssAV.association.auxilaires.veterinaires', target='_blank')
        .svg-logo-container
          +assavLogo
    article
      h1 Partenaires
      a(href='http://www.gipsa.fr/', target='_blank')
        .svg-logo-container
          +gipsaLogo
      //- a(href='http://www.snvel.fr/', target='_blank')
      //-   .svg-logo-container
      //-     +snvelLogo
    article
      +socials youtube=true
    article
      aside
        if Template.subscriptionsReady
          each links
            +footerItem
            |  - 
        span.nobp
          a(href='http://apform.fr/', target='_blank') APForm
          | © 2015

template(name='footerItem')
  a.internal(data-bind='value: slug, attr: { href: slug }, click: changeRoute, text: name')
