@import 'nib'
@import 'jeet'
@import '020_colorsTheme/*.import'
@import s(basePath, links)

.main-container
  footer
    width 100%
    background bgColor
    //background red
    color textColor
    // Create a new context for overlapping video
    z-index 1
    transform translateZ(0)
    h1
      width 100%
      color brandColor
      font-family BaronNeue
      font-size .9rem
    a, a:visited
      outline none
    section
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content flex-start
      align-items stretch
      align-content stretch
      width 100%
      max-width maxSize
      margin 1em auto
      article
        flex-grow 1
        flex-shrink 0
        display inline-block
        height 100%
        box-sizing content-box
        display flex
        flex-direction row
        flex-wrap wrap
        a, a:visited
          display block
          flex-grow 0
          flex-shrink 0
      // Steering comittee
      article:nth-child(1)
        width 30%
        flex-basis @width
        // APform, AFVAC, ASSAV
        ul
          inline-list 4%
          width 100%
          li
            size 30%
            a img
              size 100%
      // Partners
      article:nth-child(2)
        width 59%
        padding-left 3%
        border-left 1px solid brandColor
        flex-basis @width
      // Social sharing buttons
      article:nth-child(3)
        border-top 1px solid brandColor
        width 100%
        margin-top 1em
        padding-top .8em
      // Other links
      article:nth-child(4)
        width 100%
        margin-top .2em
        text-align center
        aside
          margin 0
          padding 0
          width 100%
          display block
          cpLinks(brandColor)
          ul
            inline-list 0
            margin 0 auto
            display inline-block
            // Dash between each link
            li:not(:last-child)::after
              content '-'
              margin 0 8px
        a, a:visited
          color textColor
          font-size 80%

@media only screen and (max-width 414px)
  .main-container footer section
    // Steering comittee
    article:nth-child(1)
      width 100%
      flex-basis @width
    // Partners
    article:nth-child(2)
      width 100%
      flex-basis @width
      padding-left 0
      border-left none
    // Other links
    article:nth-child(4) aside
      ul
        display flex
        flex-wrap wrap
        justify-content space-between
        width 100%
        &::before, &::after
          display none
        // Remove dash
        li::after
          display none
        // Center last child
        li:last-child
          width 100%
