body
  +sAlert

template(name='mainLayout')
  +cookie
  //+debug
  .main-container(data-role='layout')    
    +yield 'nav'
    .router-container
      +momentum plugin='iron-router' tansition=transition
        +yield
    footer
      +footer
