@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'both/views/admin/*.import'

@import s(basePath, animate)

.admin
  div.invite
    center(960px)
    width 60%
    min-width 300px
    display flex
    flex-direction column
    justify-content center
    align-items center
    align-content center
    animation fadeInDown longAnimationValue
