@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'both/views/admin/*.import'

.admin
  aside
    ul
      inline-list(0)
      width 100%
      li
        display inline
        width 100%
        text-align center
        //border-bottom 1px solid outlineColor
        transition color defaultTransitionValue, background-color defaultTransitionValue
        background bgColor
        hover-lighten: 20%
        relative top left
        &::before
          opacity 0
          transition opacity defaultTransitionValue
        &:first-child
          padding .5em 0 1.5em 0
          background lighten(bgColor, 5%)
          span
            display block
            width 100%
            text-shadow 0 0 1px textColor
            padding-top .5em
        &:not(:first-child):not(:last-child)
          &::after
            content ''
            absolute bottom 0px left 20%
            size 60% 1px
            background outlineColor
        &.active
          background transparent
          pointer-events none
          cursor default
          &::before
            opacity 1
            content ''
            size 1em 40%
            absolute top 30% right -.45em
            triangle 'right' .5em bgColor
          a, a:visited
            text-shadow 0 0 2px textColor
        a, a:visited
          padding .5em 0
          display block
          size inherit
          outline none
          text-decoration none
          text-shadow none
          transition text-shadow defaultTransitionValue
