@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'

.asv-logo
  .circle
    stroke #fff
    transition stroke defaultTransitionValue
  .year
    fill #fff
    transition fill defaultTransitionValue
