// Font faces for BaronNeue (the sans-serif default in the design)
// @NOTE This style is applied by default in the Boostrap customization.
@font-face
  font-family BaronNeue
  src url(/fonts/BaronNeueBlack.otf)
  font-weight 900
  font-style normal

@font-face
  font-family BaronNeue
  src url(/fonts/BaronNeueBlackItalic.otf)
  font-weight 900
  font-style italic

@font-face
  font-family BaronNeue
  src url(/fonts/BaronNeueBold.otf)
  font-weight bold
  font-style normal

@font-face
  font-family BaronNeue
  src url(/fonts/BaronNeueBoldItalic.otf)
  font-weight bold
  font-style italic

@font-face
  font-family BaronNeue
  src url(/fonts/BaronNeue.otf)
  font-weight normal
  font-style normal

@font-face
  font-family BaronNeue
  src url(/fonts/BaronNeueItalic.otf)
  font-weight normal
  font-style italic
