template(name='nav')
  nav(data-bind='class: {white: white}, style: {opacity: opacity}'): .nav
    .logo: .svg-logo-container(data-bind='click: goHome')
      +asvlasoireeBigLogo
    button.hamburger-button(data-bind='class: {open: menuContentOpened}, click: hamburger')
      span
    if Template.subscriptionsReady
      ul(data-bind='class: {open: menuContentOpened}')
        each innerLinks
          +navInnerLink
        each links
          +navLink

template(name='navInnerLink')
  li: a(data-bind='value: slug, attr: { href: slug }, click: changeRoute, text: name')

template(name='navLink')
  li: a(data-bind='value: slug, attr: { href: slug }, click: changeRoute, text: name')
