@import 'nib'
@import 'jeet'
@import 'typographic'
@import '020_colorsTheme/*.import'

.main-container .router-container
  main[data-role='payment']
    display flex
    flex-direction column
    flex-wrap nowrap
    size 100% 100vh
    min-height 100vh
    margin 0
    box-sizing border-box
    background white
    overflow-x hidden
    h1, h2, h3, h4, h5, h6, p, label, input, pre
      font-family $helvetica
      color black
    // Remove site wide selection
    h1, h2, h3, h4, h5, h6, p, label, input, div, pre
      &::selection
        background-color yellow
        color black
    // Main screen informations
    article
      flex-grow 1
      flex-shrink 0
      center(maxSize)
      width 100%
      box-sizing border-box
      // Layout for invoice, card and form
      .invoice-card-form
        display flex
        flex-wrap wrap
        flex-direction row
        justify-content space-between
        align-items center
        align-content center
        .invoice, .card-form
          flex-shrink 0
          display inline-block
          margin-top 1em
        // Invoice
        .invoice
          flex-grow 0
          relative top left
          border 1px solid darkgray
          fontWidth = 10px
          fontHeight = 15px
          padding (fontWidth/2)
          width (41*fontWidth)
          min-width @width
          max-width @width
          text-align center
          pre
            width (40*fontWidth)
            font-family $courier
            font-size fontHeight
        // Form and card
        .card-form
          flex-grow 1
          relative top right
          width 49%
          form
            center(400px)
            box-sizing border-box
            margin-top 1em
            input, button
              margin 2px 0 0 0
              font-size 14px
              display inline-block
              box-sizing border-box
            input[name='number'], input[name='name']
              width 49%
            input[name='expiry'], input[name='cvc']
              width 24%
            input
              border 1px solid darkgray
              &:focus
                border-color lightblue
            button
              button green
              width 49%
    // Braintree logo
    footer
      flex-grow 0
      flex-shrink 0
      center(maxSize)
      width 100%
      box-sizing border-box
      border-top 1px solid black
      .svg-logo-container
        margin 1em 0
        braintreeLogo(15%)
