@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'

@import s(basePath, animate)

.main-container
  .router-container
    >video, >img
      fixed bottom right
      min-width 100%
      min-height 100%
      size auto
      overflow hidden
      opacity 0
      animation fadeIn 1s 4s ease-in-out forwards
    header
      // Create a new context for overlapping video
      z-index 1
      transform translateZ(0)
      //background green
      section
        // Create a new context for overlapping video
        z-index 1
        transform translateZ(0)
        absolute top left
        display inline-block
        size 100%
        margin 0
        padding 0
        min-height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        align-content center
        // background red
        .center-all
          //background yellow
          flex-grow 0
          flex-shrink 0
          width 60%
          z-index 1
          >.svg-logo-container
            opacity 1
            animation fadeInDown 1s ease-in-out
            //filter drop-shadow(0 0 5px rgba(black, 50%))
            transition transform none
            transform translateZ(0)
            asvlasoireeBigLogo(100%)
        .arrow-down-container
          background linear-gradient(to bottom, rgba(29,29,27,0) 0%,rgba(29,29,27,0) 80%,rgba(29,29,27,1) 100%)
          // Create a new context for overlapping video
          z-index 1
          transform translateZ(0)
          size 100% 15%
          absolute bottom left
          .arrow-down-centered
            //background blue
            transition opacity .3s ease-in-out
            margin auto auto
            width 6.5%
            max-width 40px
            .svg-logo-container
              opacity 0
              animation fadeIn 1s 1s ease-in-out forwards
              arrowDownLogo(100%)
    main[data-role='home']
      a, a:visited
        text-decoration none
        pointer-events none
        cursor default
      section article
        opacity 0
      section:first-child
        max-width maxSize
        margin 0 auto
        display flex
        flex-wrap wrap
        article
          flex-grow 1
          flex-shrink 0
          min-width maxSize*0.3
          flex-basis @min-width
        article:nth-child(1)
          margin-left 0
          margin-right .5em
          padding-left 0
        article:nth-child(2)
          >div
            margin-right 0
            margin-left .5em
          >div:nth-child(1)
            padding 2em
            border 3px solid brandColor
            background bgColor
            h1, h2, p, time,
              color brandColor
            h1
              text-align center
            ul
              reset-list()
              margin-top 1em
              li
                margin-bottom 2em
              h2, time
                display inline
                font-size 1.2em
              time
                font-weight bold
                display inline-block
                width 2em
                &::after
                  margin-left .5em
                  content '//'
                  width 1em
              h2
                font-weight normal
                margin-left 2.5em
              p
                margin 0 0 0 5.7em
          >div:nth-child(2)
            margin-top 1em
            background brandColor
            padding .3em 0
            h2
              margin 0
              color bgColor
              text-transform uppercase
              font-size 1.1em
              text-align center
          >div:nth-child(3)
            margin-top 1em
            display inline-block
            size 100% 30%
            .arrow-down-centered
              margin auto auto
              width 12.5%
              max-width 40px
              .svg-logo-container
                arrowDownLogo(100%)
