if isMobile
  img(src='/videos/lyon-festival-light.jpg', async, alt='Lyon')
else
  video(preload, loop)
    source(src='/videos/lyon-festival-light.mp4', async, type='video/mp4')
header
  section
    .center-all
      .svg-logo-container
        +asvlasoireeBigLogo background='black-bg'
    .arrow-down-container
      .arrow-down-centered
        .svg-logo-container
          +arrowDownLogo mainColor='pink'
main(data-role='home')
  section
    article
      a(href='#program'): h1 Présentation
      p Les ASV ont maintenant leur rendez-vous annuel et reconnu par la profession au sein même du Congrès de l'AFVAC... Découvrez cette année, le 1er Congrès ASV : deux jours de conférences, de formations, d'ateliers pratiques pris en charge avec le CPF et de nombreuses rencontres professionnelles entièrement dédiée à la profession d'auxiliaire vétérinaire.
      p Dans le cadre de ces 2 jours de congrés, APFORM et le GIPSA on créé :
      p.upper.center: mark ASV, La soirée
      p.center: time(datetime='2015-11-27') Vendredi 27 nomvembre 2015 à 19h
      address.center La Cité des Congrès à Lyon
      p L'objectif de cette soirée vise à fédérer et valoriser le métier d'ASV à travers la mobilisation des jeunes diplômés et des auxiliaires vétérinaire déjà en poste.
      p À travers la Cérémonie Nationale des ASV GIPSA, nous valoriserons les nouveaux diplômés et officialiserons le lancement du 1er caducée de la profession.
      p Nous espérons vous y retrouver nombreux...
      p L'équipe APFORM & GIPSA
    article
      div
        h1 Programme
        ul
          li
            time 19H
            h2 Ouverture de la soirée
          li
            time 20H
            h2 Introduction
            p APFORM & GIPSA / ASSAV / SNVEL / AFVAC / Partenaires
          li
            time 20H30
            h2 Cérémonie Nationale des ASV GIPSA
            p Remise des caducée officiel aux ASV GIPSA diplômés + attestation
          li
            time 21h30
            h2 Buffet & soirée dansante
            p Dj, photomaton libre, remise de cadeaux, jeux-concours, ...
          li
            time 00H00
            h2 Fermeture
      div
        h2 Ouverture des inscriptions le 1er juillet 2015
      div
        .arrow-down-centered
          .svg-logo-container
            +arrowDownLogo mainColor='white'
  section
    article
      a(href='#subscription'): h1 Inscription
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  section
    article
      h1 Contact
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  section.map
    +map
