template(name='home')
  p {{mf 'accounts' 'Accounts'}}
  p {{mf 'edit_roles' 'Edit Roles'}}
  p {{mf 'invalid_email' 'The email is not valid'}}
  p {{mf 'passwords_must_match' 'Passwords must match'}}
  p {{mf 'no_permission_for_roles' 'You have no permissions to change user roles'}}
  p {{mf 'invalid_invitation_code' 'The invitation code is invalid'}}
  p {{mf 'my_account' 'My Account'}}
  p {{mf 'name' 'Name'}}
  p {{mf 'your_name' 'Your name'}}
  p {{mf 'email' 'Email'}}
  p {{mf 'roles' 'Roles'}}
  p {{mf 'actions' 'Actions'}}
  p {{mf 'logout' 'Logout'}}
  p {{mf 'update_profile' 'Update Profile'}}
  p {{mf 'change_password' 'Change Password'}}
