video.bgvid(autoplay, loop, poster='/videos/lyon-festival-light.jpg')
  source(src='/videos/lyon-festival-light.mp4', type='video/mp4')
header
  section
    .center-all
      .svg-logo-container
        +asvlasoireeBigLogo
main(data-role='home')
  section
    h1 Contenu principal
    p A compléter
