video.bgvid(autoplay, loop, poster='/videos/lyon-festival-light.jpg')
  source(src='/videos/lyon-festival-light.mp4', type='video/mp4')
header
  section
    .center-all
      .svg-logo-container
        +asvlasoireeBigLogo
    .arrow-down
      .arrow-down-centered
        .svg-logo-container
          +arrowDownLogo
main(data-role='home')
  section
    article
      a(href='#program'): h1 Présentation
      p Les ASV ont maintenant leur rendez-vous annuel et reconnu par la profession au sein même du Congrès de l'AFVAC... Découvrez cette année, le 1er Congrès ASV : deux jours de conférences, de formations, d'ateliers pratiques pris en charge avec le CPF et de nombreuses rencontres professionnelles entièrement dédiée à la profession d'auxiliaire vétérinaire.
      p Dans le cadre de ces 2 jours de congrés, APFORM et le GIPSA on créé :
      p.upper.center: mark ASV, La soirée
      p.center: time(datetime='2015-11-27') Vendredi 27 nomvembre 2015 à 19h
      address.center La Cité des Congrès à Lyon
      p L'objectif de cette soirée vise à fédérer et valoriser le métier d'ASV à travers la mobilisation des jeunes diplômés et des auxiliaires vétérinaire déjà en poste.
      p À travers la Cérémonie Nationale des ASV GIPSA, nous valoriserons les nouveaux diplômés et officialiserons le lancement du 1er caducée de la profession.
      p Nous espérons vous y retrouver nombreux...
      p L'équipe APFORM & GIPSA
    article
      a(href='#program'): h1 Programme
      p Id eu occaecat quis mollit qui tempor consectetur esse adipisicing commodo ipsum. Do nulla minim quis laboris ea pariatur cillum magna laborum. Excepteur irure commodo reprehenderit pariatur consectetur quis velit aliqua id. Culpa laborum deserunt sint fugiat consectetur ullamco aliquip sint.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  section
    article
      a(href='#subscription'): h1 Inscription
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  section
    article
      h1 Contact
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  section.map
    +map
