template(name='home')
  p {{mf 'accounts' 'Accounts'}}
  p {{mf 'edit_roles' 'Edit Roles'}}
  p {{mf 'invalid_email' 'The email is not valid'}}
  p {{mf 'passwords_must_match' 'Passwords must match'}}
  p {{mf 'no_permission_for_roles' 'You have no permissions to change user roles'}}
  p {{mf 'invalid_invitation_code' 'The invitation code is invalid'}}
  p {{mf 'my_account' 'My Account'}}
  p {{mf 'name' 'Name'}}
  p {{mf 'your_name' 'Your name'}}
  p {{mf 'email' 'Email'}}
  p {{mf 'roles' 'Roles'}}
  p {{mf 'actions' 'Actions'}}
  p {{mf 'logout' 'Logout'}}
  p {{mf 'update_profile' 'Update Profile'}}
  p {{mf 'change_password' 'Change Password'}}
  p {{mf 'invite' 'Invite'}}
  p {{mf 'invitation_created_successfully' 'Invitation created successfully'}}
  p {{mf 'back' 'Back'}}
  p {{mf 'invite_another' 'Invite another'}}
  p {{mf 'select_new_user_roles' 'Select the roles for the new user'}}
  p {{mf 'optional_new_user_email' 'Email of the new user (optional)'}}
  p {{mf 'cancel' 'Cancel'}}
  p {{mf 'login' 'Login'}}
  p {{mf 'save' 'Save'}}
  p {{mf 'register' 'Register'}}
  p {{mf 'password_again' 'Password (again)'}}
  p {{mf 'edit_roles' 'Edit Roles'}}
  p {{mf 'select_user_roles' 'Select the roles for this user'}}
  p {{mf 'create_a' 'Create a'}}
  p {{mf 'create' 'Create'}}
  p {{mf 'no_permission' 'No permission'}}
  p {{mf 'delete' 'Delete'}}
  p {{mf 'are_you_sure_to_delete_this' 'Are you sure you want to delete this'}}
  p {{mf 'confirm' 'Confirm'}}
  p {{mf 'update' 'Update'}}
  p {{mf 'config' 'Config'}}
  p {{mf 'dictionary' 'Dictionary'}}
  p {{mf 'create_new_page' 'Create a new page'}}
  p {{mf 'choose_template' 'Choose a template'}}
  p {{mf 'choose' 'Choose'}}
  p {{mf 'delete_page' 'Delete page'}}
  p {{mf 'are_you_sure_to_delete_this_page' 'Are you sure you want to delete this page?'}}
  p {{mf 'pages' 'Pages'}}
  p {{mf 'update_page' 'Update page'}}
