video.bgvid(autoplay, loop, poster='/videos/lyon-festival-light.jpg')
  source(src='/videos/lyon-festival-light.mp4', type='video/mp4')
header
  section
    .center-all
      .svg-logo-container
        +asvlasoireeLogo
      h1 {{dict 'site.description'}}
      h2 2015
main
  section
    h1 Contenu principal
    p A compléter
