@import 'nib'
@import '020_colorsTheme/*.import'

.s-alert-box
  border-radius roundCorner

.s-alert-info, .s-alert-success, .s-alert-warning, .s-alert-error
  color bgColor
  font-family $helvetica

.s-alert-info
  background-color brandInfo

.s-alert-success
  background-color brandSuccess

.s-alert-warning
  background-color brandWarning

.s-alert-error
  background-color brandDanger
