@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'

html, body, .main-container, .router-container
  margin 0
  padding 0
  border 0

.main-container
  h1, p, section, header, main, footer
    margin 0
    padding 0
    border 0

.main-container[data-role=\'spinner\']
  opacity 1

.main-container:not([data-role=\'spinner\'])
  opacity 0

.main-container
  fixed top left
  display flex
  flex-direction column
  transition opacity defaultTransitionValue
  size 100%
  z-index 1
  overflow auto
  .router-container
    flex-grow 1
    flex-shrink 0
    width 100%
    height auto
    transition opacity defaultTransitionValue
    // background blue
    display flex
    flex-direction column
    header
      flex-grow 0
      flex-shrink 0
      height 100vh
    main
      flex-grow 1
      flex-shrink 0
      background textColor
      // background red
      section
        margin 0
        padding 1em 0
        article
          // background yellow
          center(maxSize)
        p
          margin-bottom 1em
          mark
            background transparent
            font-weight bold
            font-size 2em
            text-transform capitalize
        p.upper
          text-transform capitalize
        p, address
          &.center
            text-align center
      &.map
        width 100%
        padding 0
      section:nth-child(odd)
        background textColor
        h1, h2, h3, h4, h5, h6, p, a, a:visited, mark, address, time
          color bgColor
      section:nth-child(even)
        background bgColor
        h1, h2, h3, h4, h5, h6, p, a, a:visited, mark, address, time
          color textColor
    main[data-role='home']
      // Create a new context for overlapping video
      z-index 1
      transform translateZ(0)
    main:not([data-role='home'])
      margin 5em 0 0 0
  footer
    flex-grow 0
    flex-shrink 0
