head
  // @TODO: Enhance https://github.com/yasinuslu/blaze-meta for making this possible
  link(rel='publisher', href='https://plus.google.com/105839099099011364699')
  //title(data-bind='html: title') {{dict 'site.title'}}
  title(data-bind='html: title') Testing
body
  
template(name='layout')
  //+debug
  .main-container(data-role='layout')    
    +nav
    .router-container
      +yield
    +footer
