head
  title Dawn
  link(rel='publisher', href='https://plus.google.com/105839099099011364699')
body
  
template(name='headContent')
  title {{dict 'site.title' 'The party'}}

template(name='layout')
  h1 {{dict 'site.title' 'The party'}}
