head
  // @TODO: Enhance https://github.com/yasinuslu/blaze-meta for making this possible
  link(rel='publisher', href='https://plus.google.com/105839099099011364699')
body
  
template(name='layout')
  .main-container(data-role='layout')    
    +header
    +main
    +footer

template(name='header')
  nav: ul
    li: h1 Test 1
    li: h1 Test 2
    li: h1 Test 3

template(name='main')
  +yield
      
template(name='footer')
  footer
    section
      h1 Footer
