@import 'nib'
@import 'jeet'
@import 'client/styles/*.import'

html, body, .main-container, .router-container
  margin 0
  padding 0
  border 0

.main-container
  h1, p, section, header, main, footer
    margin 0
    padding 0
    border 0

.main-container[data-role=\'spinner\']
  opacity 1

.main-container:not([data-role=\'spinner\'])
  opacity 0

.main-container
  display flex
  flex-direction column
  min-height 100vh
  transition opacity defaultTransitionValue
  width 100%
  z-index 1
  overflow auto
  .router-container
    flex-grow 1
    flex-shrink 0
    width 100%
    transition opacity defaultTransitionValue
    //background blue
    //min-height 100%
    display flex
    flex-direction column
    header
      flex-grow 0
      flex-shrink 0
      height 100%
      min-height 100vh
      //background green
      section
        h1
          color brandColor
    main
      flex-grow 0
      flex-shrink 0
      background red
      section
        background yellow
        center(maxSize)
        h1, p
          color brandColor
    main:not([data-role='home'])
      margin 4.5em 0 0 0
  footer
    flex-grow 0
    flex-shrink 0
    width 100%
    background bgColor
    //background red
    color textColor
    section
      center(maxSize)
