head
  // @TODO: Enhance https://github.com/yasinuslu/blaze-meta for making this possible
  link(rel='publisher', href='https://plus.google.com/105839099099011364699')
body
  
template(name='layout')
  .main-container(data-role='layout')    
    +header
    +main
    +footer

template(name='header')
  header
    video.bgvid(autoplay, loop, poster='/videos/asv-la-soiree-ballons.jpg')
      source(src='/videos/asv-la-soiree-ballons.mp4', type='video/mp4')
    section
      h1 ASV, la soirée

template(name='main')
  main
    section
      h1 Main

template(name='footer')
  footer
    section
      h1 Footer
