@import 'nib'
@import 'jeet'
@import 'typographic'
@import 'client/styles/*.import'

typographic()

//@import s(basePath, main)
@import s(basePath, ironprogress)
//@import s(basePath, links)

.orion-bootstrap-admin
  background white
  min-height 100%

body > section
  transition opacity defaultTransitionValue
