asvlasoireeSmallLogo(svgWidth)
  logoWidth = 260
  logoHeight = 254.73
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)

asvlasoireeBigLogo(svgWidth)
  logoWidth = 400
  logoHeight = 147.77
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)

apformLogo(svgWidth)
  logoWidth = 132.31
  logoHeight = 46.14
  width svgWidth
  padding-bottom (svgWidth*logoHeight/logoWidth)
