main
  section
    article
      h1 Nous n'avons pas compris votre demande...
      p Il n'y a aucune information disponible à cet emplacement.
      p Nous vous proposons de revenir sur 
        a(href='/') notre page d'accueil
        | .
      .not-found
        .svg-logo-container
          +asvlasoireeBigLogo
